// Variables globales
$primary-color: #1d1f2f; // Couleur principale (fond)
$secondary-color: #e63946; // Couleur secondaire (boutons, accents)
$text-color: #ffffff; // Couleur principale du texte
$text-muted-color: #b0b3c7; // Texte atténué
$input-bg-color: #2b2d42; // Fond des champs de saisie
$input-border-color: #8d99ae; // Bordure des champs de saisie
$font-family: 'Roboto', sans-serif;